<!DOCTYPE html>

<html>

<head>
    <title>about</title>
    <link rel="stylesheet" href="/public/css/styles.css">
    
</head>

<body>
    <div class="main">
        {{>header}}
        <img class="portrait" src="/public/img/me.png" >
    </div>
  
    {{>footer}}
  
</body>

</html>