<!DOCTYPE html>

<html>

<head>
    <title>error 404</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>

<body>
     <div class="main">
        {{>header}}
        {{>notfound}}
   </div>
  {{>footer}}
</body>

</html>