<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
     <link rel="icon" href="/public/img/weather.png">
    <link rel="stylesheet" href="/public/css/styles.css">
</head>

<body>
    <div class="main">
        {{>header}}
        <p>{{helpText}}</p>
    </div>
    
    {{>footer}}
</body>

</html>